<!-- <div class="sign-in-template" *ngIf="showSignIn">
    <div id="signIn" style="display: none;">
      <h2>Sign In</h2>
      <form id="signInForm">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username"><br><br>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password"><br><br>
          <button type="submit">Sign In</button>
          <span class="login-form--separator"><p>Other log in options</p></span>
          <div class="g-signin2" data-onsuccess="onSignIn"></div>
          <!-- <button id="github-login">Login with GitHub</button>
          <div id="user-info"></div> -->
  
      <!-- </form>
  </div>
  </div> --> 
  <div class="login-container">
    <h2>Login</h2>
    <form id="onSignInForm">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
      </div>
      <button type="submit" (click)="onSubmit()">Login</button>
    </form>
  </div>
