<!-- <div class="sign-up-template">
    <div id="signUp" style="display: none;">
      <h2>Sign In</h2>
      <form id="signUpForm">
          <label for="Email">Email:</label>
          <input type="text" id="email" name="email"><br><br>
          <label for="FirstName">FirstName:</label>
          <input type="FirstName" id="firstName" name="firstName"><br><br>

          <label for="LastName">LastName:</label>
          <input type="LastName" id="lastName" name="LastName"><br><br>

          <label for="password">Password:</label>
          <input type="password" id="password" name="password"><br><br>
          <button type="submit">Sign In</button>
          <!-- <span class="login-form--separator"><p>Other log in options</p></span>
          <div class="g-signin2" data-onsuccess="onSignIn"></div>
         <button id="github-login">Login with GitHub</button>
          <div id="user-info"></div> --> 
  
      <!-- </form>
  </div>
  </div> --> -->
