body {
    /* display: block; */
    font-family: Arial, sans-serif;
    
}
/* .our-skill-guru-page{
    display: flex;
    flex-direction: row;
    align-items: column;
} */
p{
    font-size: medium;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f4f4f4;
}
.skill-guru{
    font-size:x-large;
}

.header p {
    margin: 0 10px;
}

.header input {
    margin: 0 10px;
    padding: 5px;
}

.header button {
    margin: 0 10px;
    padding: 5px 10px;
}

.about-skillguru {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
    width: 100%;
}
.search-container {
    position: relative;
}

.search-container input {
    width:150%;
    padding-left: 50px; 
    padding-top:13px;
    padding-bottom:10px;
    border-radius: 10px;
    border: 1px solid black;
 
}

.search-container svg {
    position: absolute;
    top: 55%;
    left: 30px; 
    transform: translateY(-50%);
}

.image-container .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(251, 251, 251);
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px;
    border-radius: 5px;
}

.skillguru-topcourses img {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

.skillguru-feedback {
    margin-top: 20px;
}
.logo-for-skillguru{
display: flex;
flex-direction: row;
}
.logo-for-skillguru svg {
    position: absolute;
    top: 5.5%;
    left: 145px; 
    transform: translateY(-50%);
}
.teach-on-skillguru{
    padding-left:50px;
}

.skillguru-topcourses{
    margin-top:50px;
    display: block;
    background-color: rgb(246, 241, 235);
}
.skillguru-topcourses p{
    align-content: center;
    font-size: x-large;
}
.our-top-courses{
display: flex;
flex-direction: row;
justify-content: space-around;
}
.our-top-courses img{
    margin: 10px;
    width:30%;
}
.our-skill-guru-page{
    display: block;
}
.main-view-feedback{
display: flex;
flex-direction: row;
justify-content: space-between;
}
.skillguru-feedback{
    margin-top:50px;
    background-color: #faf2f2;
}
.skillguru-feedback p{
    text-align: center;
    font-size: x-large;
}
.main-view-feedback p{
    font-size: medium;
    border-radius: 5px;
    border: 1px solid rgb(66, 66, 66);
    margin: 10px 50px ;
    padding:10px;
    background-color: rgb(250, 227, 218);
}
#signIn{
    display: block;
    text-align: center;
    background-color: #f4f4f4;
    width:30%;
    height: 200%;
    margin: 70px auto;
    padding:30px;
}
.login-form--separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 10px 0;
}

.login-form--separator::before, .login-form--separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid rgb(109, 109, 109);
}

.login-form--separator::before {
    margin-right: 10px;
}

.login-form--separator::after {
    margin-left: 10px;
}
.g-signin2{
    display:block;
    margin-left: 150px;
}
